* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5EFE6;
    color: #3A2A1A;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ===== Menu ===== */
nav {
    padding: 1rem;
    background-color: #2B1F14;
}

.nav-con {
    display: flex;
    justify-content: space-between;
}

.logo a {
    font-size: 2rem;
    color: #F2C94C;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: 0.3s;
}

.logo a span {
    color: #FFF8E7;
    transition: 0.3s;
}

.logo a:hover {
    text-shadow: 0 0 15px rgba(242, 201, 76, 0.4);
}

.logo a:hover span {
    color: #F2C94C;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li {
    margin: 0 1rem;
}

.menu li a {
    color: #FFF8E7;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    display: inline-block;
}

.menu li a:hover {
    color: #F2C94C;
    background-color: rgba(242, 201, 76, 0.1);
    border-color: #F2C94C;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(242, 201, 76, 0.2);
}

/* ===== Main รูปและข้อมูล INSEPTION===== */
.maincontent {
    background-color: #F5EFE6;
    padding: 4rem 0;
}

.maincontent-con {
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 3rem;
    align-items: center;
}

/* การ์ดหนัง */
.Inception {
    text-decoration: none;
    color: #3A2A1A;
    text-align: center;
}

.Inception img {
    width: 220px;
    aspect-ratio: 2 / 3;
    /* ทรงโปสเตอร์ */
    object-fit: cover;
    border-radius: 12px;
}

/* ===== Main รูปและข้อมูล Interstalla===== */
.Interstalla {
    text-decoration: none;
    color: #3A2A1A;
    text-align: center;
}

.Interstalla img {
    width: 220px;
    aspect-ratio: 2 / 3;
    /* ทรงโปสเตอร์ */
    object-fit: cover;
    border-radius: 12px;
}