{% extends "base.html" %}
{% load static %}

{% block title %}DO MOVIE - {{ genre_label }}{% endblock %}

{% block css %}
{% if genre == 'scifi' %}
<link rel="stylesheet" href="{% static 'movies/css/Scifi_movie.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'movies/css/Horro_movie.css' %}">
{% endif %}
{% endblock %}

{% block content %}
<section class="maincontent">
    <div class="container">
        <div class="maincontent-con">
            {% for movie in movies %}
            <div class="maincontent-{% if genre == 'scifi' %}Inception{% else %}TheShinning{% endif %}">
                <a href="{% url 'movies:movie_detail' movie.id %}" class="{{ movie.title|slugify }}">
                    {% if movie.poster_image %}
                        <img src="{{ movie.poster_image.url }}" alt="{{ movie.title }}">
                    {% else %}
                        <img src="{% static 'movies/images/Movie/'|add:movie.title|add:'/' %}" alt="{{ movie.title }}">
                    {% endif %}
                    <h3>{{ movie.title }}</h3>
                </a>
            </div>
            {% empty %}
            <p style="color: #aaa; text-align: center; width: 100%;">ยังไม่มีหนังในหมวดหมู่นี้</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
